@qhub:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/projects/qhub%2fpublic-api/packages/npm/:_authToken=${CI_JOB_TOKEN}