@qhub:registry=https://gitlab.qua.one/api/v4/packages/npm/
//gitlab.qua.one/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.qua.one/api/v4/projects/qhub%2fpublic-api/packages/npm/:_authToken=${CI_JOB_TOKEN}