@qhub:registry=https://gitlab.qua.one/api/v4/packages/npm/
//gitlab.qua.one/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.qua.one/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}